/target
/.m2


/.classpath
/.project
/.settings

/caches
/local.properties
.*.swp
.DS_Store
/src/main/resources/application-local.properties

src/main/resources/application-local.properties
src/main/resources/localdev-config.json
/034ed3d0-c3e4-4206-b1d1-2c4c7a5a855b.yaml
/1e04b666-0dd6-4847-b6ff-80bb13554519.yaml
/6c12a1be-778f-4912-8f3d-c61d805e9699.yaml
